/* subTitle start */

@keyframes SubRotate {
    0%{
        transform: rotate(0deg);
        border-radius: 0%;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 50%;
    }
}

/* subTitle end */

/* banner start*/

/* banner img animation start */

.banner-img {
	animation-name: float, up;
    animation-duration: .3s, 1.5s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
}
@keyframes float {
	100% {
		transform: translateY(-8px);
	}
}
@keyframes up {
	0% {
		transform: translateY(-8px);
	}
	
	50% {
		transform: translateY(-4px);
	}
	100% {
		transform: translateY(-8px);
	}
}

/* banner img animation end */

/* svg animation start */

.path-0 {
	animation:pathAnim-0 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
	0%{
		d: path("M 0,400 L 0,150 C 66.26153846153846,124.88717948717948 132.52307692307693,99.77435897435898 207,112 C 281.4769230769231,124.22564102564102 364.1692307692307,173.78974358974358 458,194 C 551.8307692307693,214.21025641025642 656.8,205.06666666666666 730,186 C 803.2,166.93333333333334 844.630769230769,137.94358974358974 925,121 C 1005.369230769231,104.05641025641026 1124.676923076923,99.15897435897435 1217,106 C 1309.323076923077,112.84102564102565 1374.6615384615384,131.42051282051284 1440,150 L 1440,400 L 0,400 Z");
	}
	25%{
		d: path("M 0,400 L 0,150 C 96.72820512820513,146.36666666666667 193.45641025641027,142.73333333333332 276,145 C 358.54358974358973,147.26666666666668 426.90256410256404,155.43333333333337 487,147 C 547.097435897436,138.56666666666663 598.9333333333333,113.53333333333333 677,96 C 755.0666666666667,78.46666666666667 859.3641025641025,68.43333333333332 961,83 C 1062.6358974358975,97.56666666666668 1161.6102564102564,136.73333333333332 1241,152 C 1320.3897435897436,167.26666666666668 1380.1948717948717,158.63333333333333 1440,150 L 1440,400 L 0,400 Z");
	}
	50%{
		d: path("M 0,400 L 0,150 C 95.98205128205129,164.78717948717951 191.96410256410257,179.574358974359 273,183 C 354.0358974358974,186.425641025641 420.125641025641,178.48974358974357 492,166 C 563.874358974359,153.51025641025643 641.5333333333334,136.4666666666667 710,127 C 778.4666666666666,117.53333333333332 837.7410256410255,115.64358974358973 922,110 C 1006.2589743589745,104.35641025641027 1115.502564102564,94.95897435897436 1206,101 C 1296.497435897436,107.04102564102564 1368.248717948718,128.5205128205128 1440,150 L 1440,400 L 0,400 Z");
	}
	75%{
		d: path("M 0,400 L 0,150 C 75.71538461538461,154.96153846153845 151.43076923076922,159.92307692307693 244,144 C 336.5692307692308,128.07692307692307 445.9923076923077,91.26923076923077 516,104 C 586.0076923076923,116.73076923076923 616.6,179 690,185 C 763.4,191 879.6076923076923,140.73076923076923 975,143 C 1070.3923076923077,145.26923076923077 1144.9692307692308,200.07692307692307 1219,210 C 1293.0307692307692,219.92307692307693 1366.5153846153846,184.96153846153845 1440,150 L 1440,400 L 0,400 Z");
	}
	100%{
		d: path("M 0,400 L 0,150 C 66.26153846153846,124.88717948717948 132.52307692307693,99.77435897435898 207,112 C 281.4769230769231,124.22564102564102 364.1692307692307,173.78974358974358 458,194 C 551.8307692307693,214.21025641025642 656.8,205.06666666666666 730,186 C 803.2,166.93333333333334 844.630769230769,137.94358974358974 925,121 C 1005.369230769231,104.05641025641026 1124.676923076923,99.15897435897435 1217,106 C 1309.323076923077,112.84102564102565 1374.6615384615384,131.42051282051284 1440,150 L 1440,400 L 0,400 Z");
	}
}

/* svg animation end */

/* banner end */

/********* Soumyadeep ********/

@keyframes Adot-bounce {
    0%, 100% {
        transform: translateY(0);
    }    
    50% {
        transform: translateY(-30px);
    }
}

@keyframes Rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        
    }
}

@keyframes Tech-Rotate {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}